@font-face {
    font-family: SFProText;
    src: url("/fonts/SF-Pro-Text-Regular.woff2") format("woff2"),
        url("/fonts/SF-Pro-Text-Regular.woff") format("woff");
}

.v-application
    font-family: SFProText !important; 
